@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.projectsIntro {
  background-color: var(--bg);
  text-align: center;
  padding-top: 80px;
  padding-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.projectsContainer {
  background-color: var(--bg);
}

.singleProject {
  display: flex;
  margin-bottom: 100px;
}

.singleProject img {
  max-width: 453px;
  width: 100%;
  border-radius: 5px;
}

.projectText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.projectText p {
  margin-right: 60px;
}
