h1 span {
  color: var(--lilac);
}

.profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
  margin-top: 80px;
  max-width: 100%;
}

.iconScroll {
  display: inline-block;
  padding-top: 100px;
  padding-bottom: 180px;
}

.introTitle {
  font-family: var(--titlefont);
  font-size: 40px;
  padding-bottom: 30px;
}

svg .top {
  opacity: 0;
  transform: translateY(-10px);
  animation: topAnimation 1s ease-in-out infinite;
  animation-delay: 150ms;
}

svg .bottom {
  opacity: 0;
  transform: translateY(-10px);
  animation: topAnimation 1s ease-in-out infinite;
}
