.navbar {
  background-color: var(--bg);
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--section-bg);
}

.logo {
  display: inline-block;
  max-height: 25px;
}

.dinamicVector {
  fill: var(--text);
}

.menu {
  color: var(--text);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
